Flask
flask-cors
PyJWT
bcrypt
python-dotenv
celery
imageio-ffmpeg
pymongo
SpeechRecognition
gunicorn
--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
torchaudio==2.4.0+cpu
transformers==4.38.2
numpy<2.0.0
safetensors
librosa
textblob
